page-home {
    ion-content{
        width: 100%;

    }  
    image{
        font-size: 3.5em;
        
    }
    .body{
        position: relative;
        margin-left: -5%;
        margin-right: -5%;
        top: -5px;
    }
    ion-card-title{
        font-size: 1em;
        font-family: system;
        font-style: normal;
    }
    .card{
        text-align: center;
       
        
    }
    h2{
        font-weight: bold;
        font-display: normal;
        font-family: system;
    }



}
